{% extends "layouts/base_auth.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5 bg-body-tertiary">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm rounded-4 p-4">
                    <h3 class="text-center mb-4 fw-bold text-primary">Iniciar Sesión</h3>

                    {% include "components/molecules/social_buttons.html" %}
                    <hr class="mb-4">

                    {% include "login/components/login_form.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script type="application/javascript">
        let errors = "";
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    errors += "{{ error }}\n";
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += "{{ error }}\n";
            {% endfor %}
            Swal.fire({
                icon: 'error',
                title: 'Notificación',
                text: errors,
            });
        {% endif %}
    </script>

{% endblock %}
